<section class="validation">
    <div class="validation--header">
        <h2 class="validation--title">
            Banking Movement Validation
            @if (isSuccess) { <span>Validate</span> }
        </h2>
    </div>
    <div class="validation--container">
        <card (action)="onAddCheckpoint()">
            <ng-container card-title>Checkpoints</ng-container>
            <checkpoints [onAdd]="addCheckpoint" [formCtrl]="balancesGroup"></checkpoints>
            <ng-container card-action>Add Checkpoints</ng-container>
        </card>
        <card (action)="onAddMovement()">
            <ng-container card-title>Movements</ng-container>
            <movements [onAdd]="addMovement" [formCtrl]="movementsGroup" [reasons]="reasons"></movements>
            <ng-container card-action>Add Movements</ng-container>
        </card>
    </div>
    @if (reasons) { <error-panel [reasons]="reasons"></error-panel> }
    <button mat-button (click)="submit()">Validate</button>
</section>