.movements{
    &--content {
        display: flex;
        flex-direction: column;
        border: 1px solid whitesmoke;
        padding: 20px 10px 10px 10px;
        position: relative;
    }
    &--errors {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
    }
    &--error {
        border-radius: 15px;
        background-color: #ef5350;
        padding: 5px 10px;
        margin-top: -15px;
        color: whitesmoke;
    }
}

.movements--content {
    &.error {
        background-color: #ffcdd2;
        border-color: #ef5350;
    }
}

.field-error {
    mat-hint {
        color: red;
    }   
}