<div class="movements row">
    @for (movement of formCtrl.value; track $index) {
        <form
            [formGroup]="movement"
            class="movements--content col-12 col-sm-6 col-md-4"
            [ngClass]="{'error': onError(movement.value.id)}"
        >

            @if (onError(movement.value.id)) {
                <div class="movements--errors">
                    @for (error of onError(movement.value.id); track $index) {
                        <div class="movements--error">{{error}}</div>
                    }
                </div>
            }

            <mat-form-field appearance="outline" [ngClass]="{'field-error': fieldOnError($index, 'id') ? true : false}">
                <mat-label>Id</mat-label>
                <input [formControl]="movement.controls.id" type="number" matInput>
                @if (reasons && fieldOnError($index, 'id')) {
                    <mat-hint>{{ fieldOnError($index, 'id') }}</mat-hint>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" [ngClass]="{'field-error': fieldOnError($index, 'date') ? true : false}">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="datepicker" [formControl]="movement.controls.date" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
                @if (reasons && fieldOnError($index, 'date')) {
                    <mat-hint>{{ fieldOnError($index, 'date') }}</mat-hint>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" [ngClass]="{'field-error': fieldOnError($index, 'wording') ? true : false}">
                <mat-label>Wording</mat-label>
                <input [formControl]="movement.controls.wording" matInput>
                @if (reasons && fieldOnError($index, 'wording')) {
                    <mat-hint>{{ fieldOnError($index, 'wording') }}</mat-hint>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" [ngClass]="{'field-error': fieldOnError($index, 'amount') ? true : false}">
                <mat-label>Amount</mat-label>
                <input [formControl]="movement.controls.amount" type="number" matInput>
                <mat-icon matSuffix>euro</mat-icon>
                @if (reasons && fieldOnError($index, 'amount')) {
                    <mat-hint>{{ fieldOnError($index, 'amount') }}</mat-hint>
                }
            </mat-form-field>

            <button mat-button color="warn" class="movements--delete" (click)="onDelete($index)">Delete</button>

        </form>
    }
</div>